/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	font-family: 'Inter', sans-serif;
	background-color: #F9FAFB;
	color: #2D3748;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #EDF2F7;
	color: #2D3748;
	text-align: center;
	padding: 2rem 1rem;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 0.5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid #CBD5E0;
}

main {
	flex: 1;
	padding: 2rem 1rem;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	position: relative;
	padding: 0.75rem 1rem;
	border-bottom: 1px solid #E2E8F0;
	cursor: default;
	transition: background-color 0.2s ease;
}


li:hover {
	background-color: #EDF2F7;
}

i.fa-xmark {
	margin: 7px;
}

span {
	height: 35px;
	width: 40px;
	text-align: center;
	display: inline-block;
	opacity: 0;
	transition: 0.2s linear;
}

li>span {
	position: absolute;
	right: 0;
}

li:hover span {
	opacity: 1;
	transition: all;
}


footer {
	background-color: #EDF2F7;
	color: #4A5568;
	text-align: center;
	padding: 1rem;
	font-size: 0.875rem;
	border-top: 1px solid #CBD5E0;
}